.home-contact {
  color: $color-dark-brown;
  height: 950px;
  margin: 5rem 0 -1.5rem 0;
  position: relative;

  display: flex;
  justify-content: flex-end;

  &:after {
    content: "";
    background: url("../../assets/img/Background-Contact-Form.jpg");
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  .wrapper {
    padding: 4rem;

    width: 40%;

    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    .header {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    .contact-form {
      margin-top: 3rem;

      display: flex;
      flex-direction: column;
      .contact-form__heading {
        display: flex;
        justify-content: space-between;

        .contact-form__item {
          input {
            background: none;
            border: none;
            border-bottom: 1px solid $color-grey;
            margin-top: 1rem;
            padding-bottom: 0.25rem;
            width: 90%;
          }
        }
      }

      .contact-form__message {
        margin-top: 2rem;

        display: flex;
        flex-direction: column;
        textarea {
          background: none;
          border: none;
          border-bottom: 1px solid $color-grey;
          height: 4rem;
          margin-top: 1rem;
          overflow: hidden;
          padding-bottom: 0.25rem;
        }
      }

      .contact-form__button {
        align-self: flex-end;
        background: none;
        border: 1px solid $color-grey;
        height: 3rem;
        margin-top: 2rem;
        padding: 0;
        width: 7rem;
      }
    }
  }
}
