.home-footer {
  color: $color-dark-brown;
  position: relative;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  .copy {
    font-size: 1.125rem;
  }
  .pic {
    cursor: pointer;
    position: absolute;

    &:first-of-type {
      right: 11rem;
    }

    &:last-of-type {
      right: 8rem;
    }
  }
}
